.legenda-sessao1{
    top: 30%;
}

.video-sessao1{
    width: 100%;   
    height: 100%;
}

.gradient{
    background-image: linear-gradient(45deg, #911599, #f4894e 100%);
    color: rgb(252, 252, 252);
     background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
    max-width: 70%;
    margin: 0 auto;
}

/* .carousel{
    margin-bottom: -6px;
} */

.div-section2{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px 0;
}

.back-video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.description{
    max-width: 50%;
    padding: 5px;
    border: 5px solid #fff;
    padding: 40px 20px;
}


.description p{
    color: #fff;
    font-size: 1.1em;
}

.description h1{
    font-size: 2.5em;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}


@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}


@media screen and (max-width: 760px){
    .video-sessao1{
        width: auto;
        height: 100vh;
    }
    
    .gradient{
        background-image: linear-gradient(45deg, #911599, #f4894e 100%);
        color: #000;
        background-clip: text;
        -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
        -webkit-text-fill-color: transparent;
        color: black;
        font-size: 2em;
        font-weight: 900;
        line-height: 1.1;
        text-transform: uppercase;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .legenda-sessao1{
        top: 40%;
    }

    /* .carousel{
        margin-bottom: -6px;
    } */


    /* SECTION 2 */

    .div-section2{
        width: 100%;
        height: 100vh;
        position: relative;
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 30px 0;
    }
    
    .back-video{
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    
    .description{
        max-width: 100%;
        padding: 5px;
        border: 5px solid #fff;
        padding: 40px 10px;
        margin: 10px;
    }
    
    
    .description p{
        color: #fff;
        font-size: 0.8em;
    }
    
    .description h1{
        font-size: 2em;
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
